body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

.alert {
    font-size: 13px;
    border-radius: 5px;
    max-width: 400px;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .alert-warning {
    background-color: #fff3cd;
    color: #856404;
  }
  
  .alert-success {
    background-color: #d4edda;
    color: #155724;
  }
  